@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import 'global-var.css';
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--medium);
  background-color: var(--bg);
  line-height: var(--line-height);
}
